:root {
	--base: #eec0c6;
	--spacing: 10px;
	--blur: 10px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
	height: 60vh;
}

.h1 {
	color: var(--base);
}

body {
	text-align: center;
	background: #333;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 30px;
}

.controls {
	margin-bottom: 50px;
}

input {
	width: 100px;
}
